<div class="filter  space_bot_30  filter-tag">
  <div class="flex margin_bottom_20">
    <h4 class="fz-14 widget_title ">{{section.settings.title_cate}}</h4>
  </div>
  <ul class="filter-brand">
    {% assign tags = section.settings.shop_by_categ_list_tags | split: ',' %}
    {% assign arrayList = collection.all_tags | join: " " %}
    {% for t in tags %}
    {% assign tag = t | strip %}
    {% assign tag_value = tag | handleize %}
    <li class="cat-item{% if current_tags contains tag %} current-cat{% endif %}">
      <input class="hidden" type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
      <a href="javascript:void(0)">{{tag}}</a>
      {% endfor %}
  </ul>
</div>