<div class="notfound-container">
  <div class="notfound-img-holder">
    <img src="{{ 'error1.png' | asset_url }}" alt="404 Not Found" class="notfound-img">
  </div>
  <div class="notfound-404">
    <h1 class="margin_top_30 margin_bottom_30">Oops! Page not found</h1>
    <p>The page you are looking for is not available. Please go back to <a href="{{shop.url}}">homepage.</a></p>
  </div>
</div>